@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 4px;
    left: 0;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open-menu {
    transform: rotate(90deg);
}

.open-menu .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
/*    background: #fff;*/
}
.open-menu .hamburger-middle{
    display: none;
}
.open-menu .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
/*    background: #fff;*/
}

/* END Hamburger Menu */