<header id="navigation">
        <!-- Navbar -->
            <nav class=" w-full px-4 py-7 flex items-center justify-between font-bold shadow-md z-10 md:px-24">
                <!-- Logo -->
               {{ partial "logo.html" . }}
                <!-- Menu -->
                {{ if .Site.Menus.main }}
                    <div class="flex flex-row items-center justify-center">
                        <ul class="hidden md:flex md:flex-row md:space-x-6 md:align-center md:justify-center">
                            {{ if .Site.Menus.main }}
                                {{ range .Site.Menus.main }}
                                <li class="group">
                                    <a href="{{ .URL | safeURL }}" class="group-hover:text-pink-500">{{ .Name }}</a>
                                </li>
                                {{ end }}

                            {{ end }}
                        </ul>
                        <!-- Search  -->
                        <div id="search-btn" class="flex align-center justify-center cursor-pointer ml-4">
                            {{ if and ($.Site.Params.enableSearch | default false) }}
                                <button id="search-btn" class="align-center justify-center group-hover:text-color-pink-500">
                                    <i data-feather="search"></i>
                                </button>
                            {{ end }}
                        </div>
                        <!-- Hamburger Button -->
                        <div class="hamburger flex align-center justify-center cursor-pointer ml-4 md:hidden">
                            <button id="menu-btn" type="button" class="hamburger z-40 align-center justify-center md:hidden focus:outline-none">
                                <span class="hamburger-top"></span>
                                <span class="hamburger-middle"></span>
                                <span class="hamburger-bottom"></span>
                            </button>
                        </div>
                    </div>
                {{ end }}
            </nav>
             <div id="search-bar" class="w-full bg-gray-200/80 py-6 px-3 absolute hidden md:px-24 md:bg-black/80">
                <input id="search-form" class="w-full py-4 px-1 bg-transparent md:text-white focus:outline-none" type="search" placeholder="Search">
                <div id="search-results"></div>
            </div>
            <!-- Mobile Menu -->
            <div id="menu" class="absolute top-20 bottom-0 left-0 flex-col self-end hidden w-full min-h-screen py-1 pt-40 space-y-3 text-white text-lg text-center uppercase bg-black">
                <ul class="h-10 md:flex md:space-x-8">
                    {{ if .Site.Menus.main }}
                        {{ range .Site.Menus.main }}
                        <li class="group">
                            <a href="{{ .URL | safeURL }}" class="no-underline text-white hover:text-pink-500">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
    </header>