<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--Feather icons-->
<script src="https://unpkg.com/feather-icons"></script>

<!-- CSS -->
{{ $styles := resources.Get "css/input.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}

{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
{{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
{{ end }}
<!-- Site Description -->
{{with .Description}}<meta name="description" content="{{.}}">{{end}}
<!-- Site TItle -->
{{ $title := default site.Title $.Title}}
{{ with $title }}<title> {{.}} </title>{{ end }}