{{ if .Site.Params.header.logo }}
  {{ $logo := resources.Get .Site.Params.header.logo }}
  {{ if $logo }}
  <div id="logo">
      <a href='{{ "/" | relLangURL }}' >
        <img src="{{ $logo.RelPermalink }}" width="{{ div $logo.Width 2 }}" height="{{ div $logo.Height 2 }}" class="max-h-[10rem] max-w-[10rem] object-scale-down object-left" alt="{{ .Site.Title }}"/>
      </a>
  </div>
  {{ end }}
{{ end }}
{{ if .Site.Params.header.showTitle | default true }}
<div id="logo">
    <a class="hover:text-pink-500" rel="me" href='{{ "/" | relLangURL }}'>
          {{ .Site.Title | markdownify | emojify }}
    </a>
</div>
{{ end }}